wandb
__pycache__
checkpoints/
New_1/
New2/
Evals
output*/
*.mp4
sim_eval_step*/
*.h5
fine_align/
align_eval*/
grid_data/
approach*/
insertion_eval*/
approach_eval*/
basic_motion*/
basic_eval*/
fine_align*/
test_xyz/
insertion*/
real_align/
real_approach/
.cache/
occlusion_check/
compare_replay_vs_sim/
lerobot_sim/